<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m1021009_accessory01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,424},{118,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,166}}</string>
                <key>sourceSize</key>
                <string>{122,170}</string>
            </dict>
            <key>m1021009_accessory02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,246},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{168,155}}</string>
                <key>sourceSize</key>
                <string>{172,159}</string>
            </dict>
            <key>m1021009_accessory03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,648},{82,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,128}}</string>
                <key>sourceSize</key>
                <string>{86,132}</string>
            </dict>
            <key>m1021009_armL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,666},{89,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,125}}</string>
                <key>sourceSize</key>
                <string>{93,129}</string>
            </dict>
            <key>m1021009_armL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,544},{129,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{129,102}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>m1021009_armL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{132,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,87}}</string>
                <key>sourceSize</key>
                <string>{136,91}</string>
            </dict>
            <key>m1021009_armR01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,587},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,90}}</string>
                <key>sourceSize</key>
                <string>{129,94}</string>
            </dict>
            <key>m1021009_armR02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{116,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,79}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>m1021009_armR03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{121,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{121,125}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>m1021009_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{227,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{227,218}}</string>
                <key>sourceSize</key>
                <string>{231,222}</string>
            </dict>
            <key>m1021009_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,103},{170,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,141}}</string>
                <key>sourceSize</key>
                <string>{174,145}</string>
            </dict>
            <key>m1021009_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,281},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>m1021009_eye01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,21},{67,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,15}}</string>
                <key>sourceSize</key>
                <string>{71,19}</string>
            </dict>
            <key>m1021009_eye_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,17}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>m1021009_eye_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,17}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>m1021009_fire_core1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>m1021009_fire_core2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,68}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>m1021009_flying_obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,90},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>m1021009_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,291}}</string>
                <key>sourceSize</key>
                <string>{235,295}</string>
            </dict>
            <key>m1021009_hit_ember_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_hit_ember_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,327},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>m1021009_legL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,714},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,78}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>m1021009_legL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,732},{76,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,104}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>m1021009_legL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,501},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,57}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>m1021009_legR01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{76,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,104}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>m1021009_legR02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,424},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,55}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>m1021009_lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{283,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{283,44}}</string>
                <key>sourceSize</key>
                <string>{287,48}</string>
            </dict>
            <key>m1021009_lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,104},{252,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,42}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>m1021009_lightning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{283,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{283,44}}</string>
                <key>sourceSize</key>
                <string>{287,48}</string>
            </dict>
            <key>m1021009_lightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,104},{252,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,42}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>m1021009_line_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,19}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>m1021009_line_fx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,19}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>m1021009_line_fx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,19}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>m1021009_line_fx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,19}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>m1021009_line_fx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,19}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>m1021009_magic_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,793},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>m1021009_mouth01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,560},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,91}}</string>
                <key>sourceSize</key>
                <string>{108,95}</string>
            </dict>
            <key>m1021009_mouth02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,516},{26,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,69}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>m1021009_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,358},{276,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{276,48}}</string>
                <key>sourceSize</key>
                <string>{280,52}</string>
            </dict>
            <key>m1021009_weapon_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{99,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,197}}</string>
                <key>sourceSize</key>
                <string>{103,201}</string>
            </dict>
            <key>m1021009_weapon_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{99,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,197}}</string>
                <key>sourceSize</key>
                <string>{103,201}</string>
            </dict>
            <key>m1021009_weapon_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{99,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,197}}</string>
                <key>sourceSize</key>
                <string>{103,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m1021009.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1965c60b1cf154762c2bea1abf0110:46ec8bd344d5c6a97556af3142d9c90e:b4ffbb684a22ef4455c4ae751a369c8f$</string>
            <key>textureFileName</key>
            <string>m1021009.png</string>
        </dict>
    </dict>
</plist>
